body {
  font-family: Arial, sans-serif;
  background-color: #ce9fce;
  padding-top: 200px;
}

h1 {
  color: #567e88;
}

button {
  transition: 0.2s ease;
}

button:hover {
  transform: scale(1.1);
  color: #567e88;
}